<div class="col-md-6 m-auto h-100">
  <h2>Reset Password</h2>
  <div class="container p-0">
    <form #resetPassForm="ngForm" (ngSubmit)="onSubmit(resetPassForm); ">
      <div class="form-group">
          <label>Password:</label>
          <input 
          type="password" 
          [(ngModel)]="password" 
          name="password" 
          class="form-control" 
          placeholder="Please enter your new password."
          #passwordSetPass="ngModel"
          required
          [ngClass]="{'is-invalid': passwordSetPass.errors && passwordSetPass.touched}"/>
          <div [hidden]="!passwordSetPass.errors?.required" class="invalid-feedback">
            Password Required.
          </div>
      </div>

      <div class="form-group">
        <label>Confirm Password:</label>
        <input 
        type="password" 
        [(ngModel)]="cpassword" 
        name="cpassword" 
        class="form-control" 
        placeholder="Please enter your new password."
        #cpasswordSetPass="ngModel"
        required
        [ngClass]="{'is-invalid': cpasswordSetPass.errors && cpasswordSetPass.touched}"/>
        <div [hidden]="!cpasswordSetPass.errors?.required" class="invalid-feedback">
          Confirm Password Required.
        </div>
    </div>

      <button class="btn btn-default" type="submit" *ngIf="!showSpinnerFlag"
      [disabled]="!resetPassForm.form.valid">Submit</button>

      <i class="fa fa-spinner fa-spin align-middle" style="font-size:24px"
      *ngIf="showSpinnerFlag"></i>
    </form>
  </div>
</div>



